<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron jumbotron-hero">
  <h1>Ambitious ArcGIS App</h1>
  {{search-form q=q onSearch=(action "doSearch") size="lg"}}
</div>
