<div class="container">

  <!-- navbar -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <span class="navbar-brand">Ambitious ArcGIS App</span>
      </div>
      <ul class="nav navbar-nav">
        <li>{{#link-to "index" }}Home{{/link-to}}</li>
        <li>{{#link-to "items" }}Items{{/link-to}}</li>
      </ul>
    </div><!--/.container-fluid -->
  </nav>

  <!-- page content -->
  {{outlet}}

</div> <!-- /container -->
